/*  Joseph Whiteaker
    Style Sheet             */

/* table Formating */
table {
  width: 600px ;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  font-size: 25px;
}

/* Table Headings */
th{
  text-transform:uppercase;
  padding: 20px;
  align: center;
  border-width: 3px 0; /*  1px top & bottom border,  0px left & right */
  border-color: #000;
  border-bottom-style: outset;
  font-size: 20px;
  background: white;
}

/* Title Heading */
th.title{
  border-width: 1px 0;
  font-size: 30px;
}

/* Table Rows */

tr:nth-child(even){
   background-color: #f2f2f2;
 }

/* Table Cells  */
td{
  padding: 10px;
  width: 100px;
  font-size: 15px;
  border-width: 0px; /*  1px top & bottom border,  0px left & right */
  border-color: #000;
  border-style: outset;
  align-items: left;
}

/* For Author Column */
td.name{
  font-style: italic;
}

/* mouse over link */
td:hover {
  color: grey;
}

/* selected link */
td:active {
  color: red;
}

/* Aligns Table Cells */
.left {
  align-items:left;
}
.right {
  text-align: right;
}
